################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SistemaGestionIncidentesApi/.vs/SistemaGestionIncidentesApi/FileContentIndex/8b5a0912-0bf9-4615-9c46-72dceabebb33.vsidx
/SistemaGestionIncidentesApi/.vs/SistemaGestionIncidentesApi/FileContentIndex/aff18172-fe5d-454b-957d-04071cd25690.vsidx
/SistemaGestionIncidentesApi/.vs/SistemaGestionIncidentesApi/FileContentIndex/b9ed468f-630a-40e0-b110-ad155192e613.vsidx
/SistemaGestionIncidentesApi/.vs/SistemaGestionIncidentesApi/FileContentIndex/c2d227ab-a7ac-4868-876e-ec8a0a69e767.vsidx
/SistemaGestionIncidentesApi/.vs/SistemaGestionIncidentesApi/FileContentIndex/e9bb831b-b9eb-43d1-b171-751df73ef396.vsidx
