
@model SistemaGestionIncidentesWebApp.Models.Incidente

@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    ViewData["Title"] = "Incidentes";
}

<link rel="stylesheet" href="~/css/incidentes.css" />
<div class="card-body p-0">
        <h2 class="text-center">Crear Incidente</h2>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TituloIncidente" class="control-label"></label>
                <input asp-for="TituloIncidente" class="form-control" />
                <span asp-validation-for="TituloIncidente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionIncidente" class="control-label"></label>
                <input asp-for="DescripcionIncidente" class="form-control" />
                <span asp-validation-for="DescripcionIncidente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolucionIncidente" class="control-label"></label>
                <input asp-for="SolucionIncidente" class="form-control" />
                <span asp-validation-for="SolucionIncidente" class="text-danger"></span>
            </div>

            <div class="form-group">
            <label asp-for="idEstadoIncidente" class="control-label">Estados de Incidente</label>
                <select asp-for="idEstadoIncidente" asp-items="@ViewBag.estadoIncidente" class="form-select"></select>
                <span asp-validation-for="idEstadoIncidente" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="idUsuarioReporta" class="control-label">Usuario</label>
                <select asp-for="idUsuarioReporta" asp-items="@ViewBag.usuario" class="form-select"></select>
                <span asp-validation-for="idUsuarioReporta" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="idUsuarioTecnico" class="control-label">Tecnico</label>
                <select asp-for="idUsuarioTecnico" asp-items="@ViewBag.tecnico" class="form-select"></select>
                <span asp-validation-for="idUsuarioTecnico" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="idCategoria" class="control-label">Categoria</label>
                <select asp-for="idCategoria" asp-items="@ViewBag.categoria" class="form-select"></select>
                <span asp-validation-for="idCategoria" class="text-danger"></span>
            </div>
            <br />
         
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-danger" />&nbsp;&nbsp;

                <a class="btn btn-primary" asp-action="Index">Regresar</a>
            </div>
        </form>
</div>



