@model SistemaGestionIncidentesWebApp.Models.Incidente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Incidente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TituloIncidente" class="control-label"></label>
                <input asp-for="TituloIncidente" class="form-control" />
                <span asp-validation-for="TituloIncidente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionIncidente" class="control-label"></label>
                <input asp-for="DescripcionIncidente" class="form-control" />
                <span asp-validation-for="DescripcionIncidente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolucionIncidente" class="control-label"></label>
                <input asp-for="SolucionIncidente" class="form-control" />
                <span asp-validation-for="SolucionIncidente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioReporta" class="control-label"></label>
                <input asp-for="UsuarioReporta" class="form-control" />
                <span asp-validation-for="UsuarioReporta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoIncidente" class="control-label"></label>
                <input asp-for="EstadoIncidente" class="form-control" />
                <span asp-validation-for="EstadoIncidente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioTecnico" class="control-label"></label>
                <input asp-for="UsuarioTecnico" class="form-control" />
                <span asp-validation-for="UsuarioTecnico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

