@model SistemaGestionIncidentesWebApp.Models.Incidente

@{
    ViewData["Title"] = "Create";
}

<h1>Registrar Incidente</h1>

<h4>Incidente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo_Incidente" class="control-label"></label>
                <input asp-for="Titulo_Incidente" class="form-control" />
                <span asp-validation-for="Titulo_Incidente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion_Incidente" class="control-label"></label>
                <input asp-for="Descripcion_Incidente" class="form-control" />
                <span asp-validation-for="Descripcion_Incidente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Solucion_Incidente" class="control-label"></label>
                <input asp-for="Solucion_Incidente" class="form-control" />
                <span asp-validation-for="Solucion_Incidente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Usuario" class="control-label"></label>
                @Html.DropDownListFor(model => model.Id_Usuario,
                (SelectList)ViewBag.Usuarios,
                                "-- SELECCIONE USUARIO --",
                                new { @class = "form-control" })
                <span asp-validation-for="Id_Usuario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Id_Categoria" class="control-label"></label>
                @Html.DropDownListFor(model => model.Id_Categoria,
                                (SelectList)ViewBag.Categorias,
                                "-- SELECCIONE CATEGORIA --",
                                new { @class = "form-control" })
                <span asp-validation-for="Id_Categoria" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Id_Estado" class="control-label"></label>
                @Html.DropDownListFor(model => model.Id_Estado,
                                (SelectList)ViewBag.Estados,
                                "-- SELECCIONE ESTADO --",
                                new { @class = "form-control" })
                <span asp-validation-for="Id_Estado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Id_Tecnico" class="control-label"></label>
                @Html.DropDownListFor(model => model.Id_Tecnico,
                                (SelectList)ViewBag.Tecnicos,
                                "-- SELECCIONE TECNICO --",
                                new { @class = "form-control" })
                <span asp-validation-for="Id_Tecnico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
